.backlink {
  display: block;
  width: 60%;
  margin: 1.2em auto;
  color: #AAAAAA;
}

.article {
  width: 60%;
  margin: 2em auto;
}

@media (max-width: 640px) {
  .article {
    width: 90%;
  }
}

.body {
  line-height: 1.6em;
}

.footer {
  padding-bottom: 1.2em;
}